@import "../constants/style.constant.scss";

body {
  background: black;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;

  &_content {
    display: flex;
    flex-direction: row;
    min-height: 90vh;

    .app_sidebar {
      width: 30%;
    }

    &_content {
      width: 100%;
    }
  }
}

@media (max-width: $breackPoint-medium) {
  .app {
    &_content {
      min-height: 100vh;
    }
  }
}

@media (max-width: $breackPoint-small) {
  .app {
    .app_sidebar {
      width: 70px;
    }

    &_content {
      min-height: 100vh;
    }
  }
}
