.item_create_video {
  visibility: hidden;
  position: absolute;

  width: 8rem;
  transition: 0.3s;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;

  span {
    margin-left: 1rem;
  }

  &:hover {
    visibility: visible;
    margin-top: 1rem;
    background: rgba(128, 128, 128, 0.651);
  }
}

.create_video:hover ~ .item_create_video {
  visibility: visible;
  margin-top: 1rem;
}
